<style>
    .login-register-wrap .login-register-form form .login-register-input-style  .error {
     color:red;
    }
 </style>
<div class="breadcrumb-area breadcrumb-area-padding-2 bg-gray-2">
    <div class="custom-container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">login </li>
            </ul>
        </div>
    </div>
</div>
<div class="login-register-area pt-75 pb-75">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-8">
                <div class="login-register-wrap login-register-gray-bg">
                    <div class="login-register-title">
                        <h1>Login</h1>
                    </div>
                    <div class="login-register-form">
                        <form method="post" id="login-form">
                            <div class="login-register-input-style input-style input-style-white">
                                <label>Username or email address *</label>
                                <input type="email" name="email" id="email">
                            </div>
                            <div class="login-register-input-style input-style input-style-white">
                                <label>Password *</label>
                                <input type="password" name="password" id="password">
                            </div>
                            <div class="lost-remember-wrap">
                                <div class="lost-wrap">
                                    <a href="#">Lost your password?</a>
                                </div>
                            </div>
                            <div class="login-register-btn">
                                <button type="submit">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>