<footer class="footer-area pt-75 pb-35">
    <div class="custom-container">
        <div class="row">
            <div class="col-width-25 custom-common-column">
                <div class="footer-widget footer-about mb-30">
                    <div class="footer-logo logo-width-1">
                        <a href="index.html"><img src="/images/logo/logo.png" alt="logo"></a>
                    </div>
                    <div class="copyright">
                        <p>Copyright © <%= new Date().getFullYear()  %>  HasThemes | <a target="_blank" href="https://hasthemes.com/">Built with
                                <span>Medizin</span> by HasThemes</a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-width-22 custom-common-column">
                <div class="footer-widget mb-40">
                    <h3 class="footer-title">Customer Service</h3>
                    <div class="footer-info-list">
                        <ul>
                            <li><a href="#"> Shipping Options</a></li>
                            <li><a href="wishlist.html"> My Wishlist </a></li>
                            <li><a href="my-account.html"> My Account </a></li>
                            <li><a href="return-policy.html"> Return Policy </a></li>
                            <li><a href="#"> Shopping FAQs </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-width-22 custom-common-column">
                <div class="footer-widget mb-40">
                    <h3 class="footer-title">Our Company</h3>
                    <div class="footer-info-list">
                        <ul>
                            <li><a href="about-us.html"> About Us</a></li>
                            <li><a href="terms-of-service.html"> Terms of Service </a></li>
                            <li><a href="privacy-policy.html"> Privacy Policy</a></li>
                            <li><a href="blog.html"> Our Blogs</a></li>
                            <li><a href="contact-us.html"> Contact Us </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-width-31 custom-common-column">
                <div class="footer-widget mb-40">
                    <h3 class="footer-title">Download Our App</h3>
                    <div class="app-visa-wrap">
                        <p>Fast & Convenient Access</p>
                        <div class="app-google-img">
                            <a href="#"><img src="/images/icon-img/app-store.jpg" alt=""></a>
                            <a href="#"><img src="/images/icon-img/google-play.jpg" alt=""></a>
                        </div>
                        <p>Secured Payment Gateways</p>
                        <div class="payment-img">
                            <a href="#"><img src="/images/icon-img/payment-method.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>