<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> <%= title  %> </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Add_Description_Text">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add site Favicon -->
    <link rel="icon" href="/images/favicon/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/images/favicon/cropped-favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="/images/favicon/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage" content="/images/favicon/cropped-favicon-270x270.png" />

    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/font-cerebrisans.css">
    <link rel="stylesheet" href="/css/vendor/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/vendor/font-medizin.css">
    <link rel="stylesheet" href="/css/plugins/slick.css">
    <link rel="stylesheet" href="/css/plugins/animate.css">
    <link rel="stylesheet" href="/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/css/plugins/select2.min.css">
    <link rel="stylesheet" href="/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/toastr.css" />

</head>