<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="/"><img src="/images/logo/logo.png" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="covid-update covid-update-mobile mobile-header-border">
                <p><a href="#">COVID-19 UPDATE</a> We are open with limited hours and staff.</p>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><a href="/">Home</a>
                        </li>
                        <li class="menu-item-has-children "><a href="/shop">Shop</a>
                        </li>
                        <li><a href="/contact-us">Contact</a></li>
                        <li><a href="/about-us">About-Us</a></li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info">
                    <a target="_blank" href="https://www.google.com/maps"> Store location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="/user/login">Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+88) - 1990 - 6886 </a>
                </div>
                <div class="single-mobile-header-info">
                    <a class="mobile-language-active" href="#">Language <span><i
                                class="far fa-angle-down"></i></span></a>
                    <div class="lang-curr-dropdown lang-dropdown-active">
                        <ul>
                            <li><a href="#">English</a></li>
                            <li><a href="#">French</a></li>
                            <li><a href="#">German</a></li>
                            <li><a href="#">Spanish</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mobile-social-icon">
                <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                <a class="tumblr" href="#"><i class="fab fa-tumblr"></i></a>
                <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>