<div class="breadcrumb-area breadcrumb-area-padding-2 bg-gray-2">
    <div class="custom-container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<div class="about-us-area fix about-us-img pt-65 pb-75">
    <div class="container">
        <div class="section-title-2 mb-35 wow tmFadeInUp">
            <h2> We provide and extend personalized & innovative healthcare services to its customers.</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-us-img wow tmFadeInUp">
                    <img src="/images/banner/banner-9.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-us-content wow tmFadeInUp">
                    <div class="total-years">
                        <h2 class="count">29</h2>
                        <h4>Years <br>Experience<br>Working</h4>
                    </div>
                    <h3>High quality medical equipment and supplies</h3>
                    <p>We have decades of experience selling medical equipment and supplies and managing healthcare facilities. We started Medizin Medical Supplies to provide an easy way for organizations to purchase high quality medical equipment and supplies from leading manufacturers.</p>
                    <p>Customer excellence has always been a top priority and it always will be. Thank you for visiting our site. We look forward to working with you!</p>
                    <div class="about-btn">
                        <a href="#">Discover now <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mouse-scroll-area-2" id="scene">
        <div data-depth="0.3" class="layer about-us-shape-1">
            <div class="medizin-shape"></div>
        </div>
    </div>
</div>
<div class="mision-area bg-gray-2 pt-65 pb-45">
    <div class="container">
        <div class="section-title-2 mb-45 wow tmFadeInUp">
            <h2> We provide and extend personalized & innovative healthcare services to its customers.</h2>
            <p>We have recently organised a new office location at 33 Queens Square, Leeds to cater for the growth of business for North of UK and Scotland locations. </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 col-sm-6 wow tmFadeInUp">
                <div class="medizin-box mb-30" data-vivus-hover>
                    <div class="icon-box-wrapper">
                        <div class="medizin-icon-wrap">
                            <img class="svgInject" src="/images/icon-img/linea-basic-compass.svg" alt="">
                        </div>
                        <div class="icon-box-content">
                            <div class="title">
                                <h3>Our Vision</h3>
                            </div>
                            <ul>
                                <li>Good Service</li>
                                <li>For Community</li>
                                <li>Long Term Development</li>
                                <li>Save Our Planet</li>
                                <li>Help People</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 col-sm-6 wow tmFadeInUp">
                <div class="medizin-box mb-30" data-vivus-hover>
                    <div class="icon-box-wrapper">
                        <div class="medizin-icon-wrap">
                            <img class="svgInject" src="/images/icon-img/linea-basic-flag2.svg" alt="">
                        </div>
                        <div class="icon-box-content">
                            <div class="title">
                                <h3>Our Promise</h3>
                            </div>
                            <ul>
                                <li>Sustainable Relationship</li>
                                <li>Renew Commitment</li>
                                <li>Provide The Best Solution</li>
                                <li>Profitable Relationship</li>
                                <li>Adapt With People's Needs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 col-sm-6 wow tmFadeInUp">
                <div class="medizin-box mb-30" data-vivus-hover>
                    <div class="icon-box-wrapper">
                        <div class="medizin-icon-wrap">
                            <img class="svgInject" src="/images/icon-img/linea-basic-life-buoy.svg" alt="">
                        </div>
                        <div class="icon-box-content">
                            <div class="title">
                                <h3>Our Mision</h3>
                            </div>
                            <ul>
                                <li>Change The Habits</li>
                                <li>Best Quality</li>
                                <li>Think Big Do Bigger</li>
                                <li>Stablity & competence</li>
                                <li>Safer & Better Life</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="funfact-area pt-70 pb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12 col-sm-6 wow tmFadeInUp">
                <div class="single-funfact text-center mb-30">
                    <h2 class="count">1790</h2>
                    <span>Happy clients</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12 col-sm-6 wow tmFadeInUp">
                <div class="single-funfact text-center mb-30">
                    <h2 class="count">491</h2>
                    <span>Finished projects</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12 col-sm-6 wow tmFadeInUp">
                <div class="single-funfact text-center mb-30">
                    <h2 class="count">245</h2>
                    <span>Experts</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12 col-sm-6 wow tmFadeInUp">
                <div class="single-funfact text-center mb-30">
                    <h2 class="count">1090</h2>
                    <span>Posts</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-area pt-65 pb-65">
    <div class="container">
        <div class="section-title-2 mb-45 wow tmFadeInUp">
            <h2>What's clients say about us</h2>
            <p>People love our products and 70% our customers are returned customers. We believe that only way to make a long-term business is helping people.</p>
        </div>
        <div class="testimonial-active-3 nav-style-2-modify-1 dot-style-1 dot-style-1-center dot-style-1-mt1 wow tmFadeInUp">
            <div class="testimonial-plr-1">
                <div class="single-testimonial">
                    <h4>Great quality!</h4>
                    <p> This is a great design and I hope that we will create a website with a good signature. ThemeMove team is reactive and kind. Thanks for the help so far.</p>
                    <div class="client-info">
                        <h5>Luke Olfert</h5>
                        <span>/ Web Developer, Canada</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-plr-1">
                <div class="single-testimonial">
                    <h4>My luck</h4>
                    <p> Before my purchase, I had a look of many other themes & clubs that are available out there. So, ThemeMove is just good luck for me. 5-star rating deserved.</p>
                    <div class="client-info">
                        <h5>Ryan Teixeira</h5>
                        <span>/ Designer, UK</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-plr-1">
                <div class="single-testimonial">
                    <h4>No coding Require</h4>
                    <p> Very prompt, and fixed the problem within a day of submitting a ticket. I just started to use WordPress, and I absolutely love ThemeMove's themes</p>
                    <div class="client-info">
                        <h5>Daniel Pereira</h5>
                        <span>/ Marketer, France </span>
                    </div>
                </div>
            </div>
            <div class="testimonial-plr-1">
                <div class="single-testimonial">
                    <h4>My luck</h4>
                    <p> Before my purchase, I had a look of many other themes & clubs that are available out there. So, ThemeMove is just good luck for me. 5-star rating deserved.</p>
                    <div class="client-info">
                        <h5>Ryan Teixeira</h5>
                        <span>/ Designer, UK</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-logo-area pb-35">
    <div class="container">
        <div class="row align-items-center">
            <div class="custom-col-5 wow tmFadeInUp">
                <div class="single-brand-logo mb-30">
                    <a href="/shop"><img src="/images/brand-logo/brand-logo-1.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5 wow tmFadeInUp">
                <div class="single-brand-logo mb-30">
                    <a href="/shop"><img src="/images/brand-logo/brand-logo-2.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5 wow tmFadeInUp">
                <div class="single-brand-logo mb-30">
                    <a href="/shop"><img src="/images/brand-logo/brand-logo-3.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5 wow tmFadeInUp">
                <div class="single-brand-logo mb-30">
                    <a href="/shop"><img src="/images/brand-logo/brand-logo-4.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5 wow tmFadeInUp">
                <div class="single-brand-logo mb-30">
                    <a href="/shop"><img src="/images/brand-logo/brand-logo-5.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5 wow tmFadeInUp">
                <div class="single-brand-logo mb-30">
                    <a href="/shop"><img src="/images/brand-logo/brand-logo-6.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5 wow tmFadeInUp">
                <div class="single-brand-logo mb-30">
                    <a href="/shop"><img src="/images/brand-logo/brand-logo-7.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5 wow tmFadeInUp">
                <div class="single-brand-logo mb-30">
                    <a href="/shop"><img src="/images/brand-logo/brand-logo-8.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5 wow tmFadeInUp">
                <div class="single-brand-logo mb-30">
                    <a href="/shop"><img src="/images/brand-logo/brand-logo-9.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5 wow tmFadeInUp">
                <div class="single-brand-logo mb-30">
                    <a href="/shop"><img src="/images/brand-logo/brand-logo-10.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-us-area contact-us-bg pt-75 pb-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-width-58 custom-common-column">
                <div class="contact-from-area contact-from-area-bg padding-20-row-col wow tmFadeInUp">
                    <h3>Ask us anything here</h3>
                    <form class="contact-form-style" id="contact-forms" action="/enquiry" method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-style mb-20">
                                    <input name="name" placeholder="Name" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-style mb-20">
                                    <input name="email" placeholder="Email" type="email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-style mb-20">
                                    <input name="subject" placeholder="Subject" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="textarea-style mb-30">
                                    <textarea name="message" placeholder="Your Message"></textarea>
                                </div>
                                <button class="submit" type="submit">Send message</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
            <div class="col-width-41 custom-common-column">
                <div class="contact-info-wrap">
                    <div class="single-contact-info2-wrap wow tmFadeInUp">
                        <div class="single-contact-info2-icon">
                            <i class="fal fa-phone"></i>
                        </div>
                        <div class="single-contact-info2-content">
                            <p>Call for help now!</p>
                            <h2> <a href="tel:190068668"> 1900 68668</a></h2>
                        </div>
                    </div>
                    <div class="single-contact-info2-wrap wow tmFadeInUp">
                        <div class="single-contact-info2-icon">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="single-contact-info2-content">
                            <p>Say hello</p>
                            <h3><a href="#">info@medizin.com</a></h3>
                        </div>
                    </div>
                    <div class="single-contact-info2-wrap wow tmFadeInUp">
                        <div class="single-contact-info2-icon">
                            <i class="fal fa-map-marked-alt"></i>
                        </div>
                        <div class="single-contact-info2-content">
                            <p>Address</p>
                            <h4> <a href="https://www.google.com/maps"> 62 Gresham St, Victoria Park WA 6100, Australia</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area pt-65 pb-25">
    <div class="container">
        <div class="section-title-2 mb-45 wow tmFadeInUp">
            <h2>Meet Our Professionals</h2>
            <p>When your mission is to be better, faster and smarter, you need the best people driving your vision forward. </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 col-sm-6 wow tmFadeInUp">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="/images/team/team-1.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3> Ashley Smith</h3>
                        <span>Contact Tracer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-sm-6 wow tmFadeInUp">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="/images/team/team-2.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3> William John</h3>
                        <span>Labor Assistance</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-sm-6 wow tmFadeInUp">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="/images/team/team-3.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3> Johnson Brown</h3>
                        <span>Case Investigator</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-sm-6 wow tmFadeInUp">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="/images/team/team-4.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3> Susan Linn</h3>
                        <span>Hospital Administrator</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-sm-6 wow tmFadeInUp">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="/images/team/team-5.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3> Julie Blake</h3>
                        <span>Project Schedular</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-sm-6 wow tmFadeInUp">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="/images/team/team-6.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3> Amalia Nicole</h3>
                        <span>Customer Service</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-sm-6 wow tmFadeInUp">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="/images/team/team-7.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3> Thomas Murphy</h3>
                        <span>Nurse Aide</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-sm-6 wow tmFadeInUp">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="/images/team/team-8.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3> Lewis Hank</h3>
                        <span>Patient Transports</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>