<div class="breadcrumb-area breadcrumb-area-padding-2 bg-gray-2">
  <div class="custom-container">
    <div class="breadcrumb-content text-center">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li class="active">Wishlist </li>
      </ul>
    </div>
  </div>
</div>
<div class="wishlist-area pt-75 pb-75">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="#">
          <div class="wishlist-table-content">
            <div class="table-content table-responsive">
              <table>
                <tbody>
                  <tr>
                    <td class="wishlist-product-thumbnail">
                      <a href="#"><i class="far fa-times"></i></a>
                    </td>
                    <td class="wishlist-product-img">
                      <a href="product-details.html"><img src="/images/cart/cart-1.jpg" alt=""></a>
                    </td>
                    <td class="wishlist-product-info">
                      <h5><a href="product-details.html">Cara Portable Air Compressor</a></h5>
                      <div class="wishlist-product-price">
                        <span class="new-price">$120.00</span>
                        <span class="old-price">$150.00</span>
                      </div>
                      <span>September 12, 2020</span>
                    </td>
                    <td class="wishlist-product-add-wrap">
                      <span>In stock</span>
                      <div class="wishlist-product-add">
                        <a href="#">Add to cart</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="wishlist-product-thumbnail">
                      <a href="#"><i class="far fa-times"></i></a>
                    </td>
                    <td class="wishlist-product-img">
                      <a href="product-details.html"><img src="/images/cart/cart-2.jpg" alt=""></a>
                    </td>
                    <td class="wishlist-product-info">
                      <h5><a href="product-details.html">Cara Portable Air Compressor</a></h5>
                      <div class="wishlist-product-price">
                        <span class="new-price">$120.00</span>
                        <span class="old-price">$150.00</span>
                      </div>
                      <span>September 12, 2020</span>
                    </td>
                    <td class="wishlist-product-add-wrap">
                      <span>In stock</span>
                      <div class="wishlist-product-add">
                        <a href="#">Add to cart</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="wishlist-product-thumbnail">
                      <a href="#"><i class="far fa-times"></i></a>
                    </td>
                    <td class="wishlist-product-img">
                      <a href="product-details.html"><img src="/images/cart/cart-3.jpg" alt=""></a>
                    </td>
                    <td class="wishlist-product-info">
                      <h5><a href="product-details.html">Cara Portable Air Compressor</a></h5>
                      <div class="wishlist-product-price">
                        <span class="new-price">$120.00</span>
                        <span class="old-price">$150.00</span>
                      </div>
                      <span>September 12, 2020</span>
                    </td>
                    <td class="wishlist-product-add-wrap">
                      <span>In stock</span>
                      <div class="wishlist-product-add">
                        <a href="#">Add to cart</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
        <div class="wishlist-bottom">
          <div class="wishlist-social-wrap">
            <span>Share on:</span>
            <div class="wishlist-social">
              <a href="#">Facebook</a>
              <a href="#">Twitter</a>
              <a href="#">Pinterest</a>
              <a href="#">Mail</a>
            </div>
          </div>
          <div class="wishlist-link">
            <span>Wishlist link:</span>
            <div class="wishlist-input-wrap">
              <div class="wishlist-input">
                <input id="copy" type="url" value="https://bootstrap.hasthemes.com/">
              </div>
              <div class="wishlist-btn"><a class="cbtn" data-clipboard-action="copy" data-original-title="Copied!" data-clipboard-target="#copy">Copy</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>