<h1>Welcome to Medizin!</h1>
<p>Thank you for registering an account on our site. To activate your account, please click on the link below:</p>
<a href="<%= activationLink %>">Activate my account</a>
<p>If the link does not work, please copy and paste the following URL into your browser:</p>
<%= activationLink %>
